/* Reset beberapa gaya default browser */
body, h1, h2, p, ul, li, button {
  margin: 0;
  padding: 0;
}

/* Tampilan header */
header {
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* Navigasi */
nav {
  background-color: #333;
  color: #fff;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 10px 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #3498db;
}

/* Konten utama */
main {
  padding: 20px;
  background-color: #f7f7f7;
}

/* Gaya untuk setiap bagian (about PPLG dan about Perbagus) */
section {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Tombol "Kembali" */
button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  bottom: 60px; /* Sesuaikan dengan jarak yang Anda inginkan dari footer */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

button:hover {
  background-color: #2980b9;
}


/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

section {
  background-color: #fff; /* Warna latar belakang asal */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}